body {
  margin: 0;
  padding: 0;
}

.chartBox {
  margin: 2rem auto;
  background-color: lightgrey;
  box-shadow: 2px 5px 1rem 0 darkgrey;
  padding: 1rem;
  border-radius: 4px;
}

.chart {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
}

.bar {
  margin: 0 .2rem;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 0 7px black;
  flex-grow: 1;
  width: 40rem;
  height: 30rem;
}

.title {
  text-align: center;
  padding: 0;
  margin: .5rem 0 1.5rem 0;
  font-size: 1.8rem;
}

/* Simulating extra styling by user for positioning chart on the page*/
#chart-display {
  width: 60rem;
}
