body {
  margin: 0;
  padding: 0;
}

#chart {
  margin: 3rem auto;
  padding: 1rem;
  width: 40rem;
  height: 30rem;
  background-color: lightgrey;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  border-radius: 4px;
  box-shadow: 2px 5px 1rem 0 darkgrey;
}

.bar {
  margin: 0 3px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 0 7px black;
  flex-grow: 1;
}

.title {
text-align: center;
}
